.fixed-action-btn {
    li {
        position: relative;

        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    span {
        @extend .grey;
        @extend .darken-4;
        @extend .grey-text;
        @extend .text-lighten-5;

        border-radius: 3px;
        color: #fff;
        left: 0;
        opacity: 0;
        padding: 3px 10px;
        position: absolute;
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
        transition: opacity 0.2s;
        white-space: nowrap;
    }
}

.btn, .btn-flat {
    &.light-blue { color: #fff; }
}

.btn-flat:focus {
    background-color: transparent;
}