.modal {
  max-width: 400px;

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .modal-content {
    h2, h3, h4 {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }

  .input-field {
    margin-top: 2rem;
  }
}

.section-data-empty {
  margin-bottom: 80px;
}

.section-data-table {
  background-color: #fff;
  margin-bottom: 80px;
  margin-top: 50px;

  &:hover {
    caption .right {
      visibility: visible;
    }
  }

  thead,
  thead tr th {
    border: none;
  }

  caption, caption a {
    color: #999;
    font-size: 20px;
    line-height: 45px;
    vertical-align: top;

    .right {
      visibility: hidden;
    }

    a:hover, a:active { text-decoration: none; }
    a i {
      display: inline-block;
      transition: transform 0.3s;
    }
  }

  tr {
    td, th {
      border-top: 1px solid #ccc;
      border-radius: 0;
      padding: 5px 20px;
      position: relative;
    }

    &>td:first-child,
    &>th:first-child {
      border-top: none;
      @extend .red;
      padding: 5px;
      width: 10px;
    }

    &>th:first-child {
      background-color: transparent !important;
    }

    &.done {
      &>td:first-child {
        @extend .green;
      }

      .action-done {
        display: none;
      }
    }

    &.modified {
      &>td:first-child {
        @extend .yellow;
      }
    }

    .input-field {
      display: none;
    }

    .empty, .edit {
      .clean-value,
      .diff-text {
        display: none;
      }

      .input-field {
        display: block;
      }
    }
  }

  tbody {
    &.modified {
      tr {
        display: none;
        &.modified { display: table-row; }
      }
    }

    &.new {
      tr {
        display: none;
        &.new { display: table-row; }
      }
    }

    &.done {
      tr {
        display: none;
        &.done { display: table-row; }
      }
    }
  }

  .diff-text { display: none; }
  &.show-diff {
    .diff-text { display: block; }
    .clean-value { display: none; }
  }

  &.empty {
    tr th {
      padding: 15px 0;
    }

    caption {
      padding-left: 30px;
    }
  }

  &.contract {
    margin-bottom: 0;

    tbody, thead { display: none; }
    caption {
      a:first-child {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

ul.tabs {
  margin-bottom: 20px;

  li.tab  a {
    color: $colorBlue;

    &:hover {
      color: $colorLightBlue;
    }
  }

  .indicator {
    background-color: $colorBlue;
  }
}


.spinner-blue,
.spinner-blue-only {
  border-color: $primary-color;
}

.loading {
  margin-top: 100px;
}