.modal {
  max-width: 400px;

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .modal-content {
    h2, h3, h4 {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }

  .input-field {
    margin-top: 2rem;
  }
}

.section-data-empty {
  margin-bottom: 80px;
}

.section-data-table {
  margin-bottom: 80px;
  margin-top: 50px;

  &:hover {
    h2 .right {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h2 {
    color: #999;
    font-size: 20px;
    line-height: 45px;
    margin: 0;
    vertical-align: top;
    width: 100%;

    .right {
      opacity: 0;
      transition: opacity 0.2s, transform 0.2s;
      transform: translateY(50px);
    }

    a {
      color: #999;
      font-size: 20px;
      line-height: 45px;

      &:hover, &:active { text-decoration: none; }

      i {
        display: inline-block;
        transition: transform 0.3s;
      }
    }
  }

  .collection {
    background-color: #fff;
    border: none;

    .collection-item {
      &:hover {
        .actions {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .key {
        margin-top: 6px;
      }

      .actions {
        background-color: rgba(255,255,255,0.8);
        overflow: hidden;
        opacity: 0;
        padding: 10px 5px 5px 5px;
        position: absolute;
        right: 0;
        top: 5px;
        transform: translateX(100%);
        transition: transform 0.2s, opacity 0.2s;
        white-space: nowrap;
      }
    }

    .collection-item, .collection-header {
      border-bottom: none;
      border-top: 1px solid #e0e0e0;
      padding-right: 10px;
      position: relative;

      textarea {
        height: 1rem;
        min-height: 1rem;
      }

      &>div {
        display: inline-block;
        vertical-align: top;
      }

      &.done {
        .color {
          @extend .green;
        }

        .action-done {
          display: none;
        }
      }

      &.modified {
        .color {
          @extend .yellow;
        }
      }

      &.new {

      }

      .clean-value, .diff-text {
        margin: 3px 0 4px 0;
        padding: 0.2rem 0;
      }

      .input-field {
        display: none;
        margin-top: 0;
      }

      .empty, .edit {
        .clean-value,
        .diff-text {
          display: none;
        }

        .input-field {
          display: block;
        }
      }

      .color {
        @extend .red;

        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 10px;
      }

      .key {
        width: 200px;
      }

      .item {
        padding-left: 20px;
        padding-right: 0;
        width: calc((100% - 210px)/2);
      }
    }

    .collection-header {
      font-weight: bold;
      padding: 15px 0 15px 20px;

      .color {
        background-color: transparent !important;
      }
    }
  }

  .diff-text { display: none; }
  &.show-diff {
    .diff-text { display: block; }
    .clean-value { display: none !important; }
  }

  &.empty {
    h2 {
      padding-left: 30px;
    }
  }

  &.contract {
    margin-bottom: 0;

    ul { display: none; }
    h2 {
      a:first-child {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

ul.tabs {
  margin-bottom: 20px;

  li.tab  a {
    color: $colorBlue;

    &:hover {
      color: #000;
    }
  }

  .indicator {
    background-color: $colorBlue;
  }
}


.spinner-blue,
.spinner-blue-only {
  border-color: $primary-color;
}

.loading {
  margin-top: 100px;
}