<template name="Project">
    <div class="row">
        <div class="col s12">
            <ul class="tabs z-depth-1">
                <li class="tab col s3"><a href="#" data-action="toggle-state" data-state="all" class="{{isActive "all"}}">All</a></li>
                <li class="tab col s3"><a href="#" data-action="toggle-state" data-state="new" class="{{isActive "new"}}">New</a></li>
                <li class="tab col s3"><a href="#" data-action="toggle-state" data-state="modified" class="{{isActive "modified"}}">Modified</a></li>
                <li class="tab col s3"><a href="#" data-action="toggle-state" data-state="done" class="{{isActive "done"}}">Done</a></li>
            </ul>

            {{#each sections}}
                {{> copySection}}
            {{/each}}

            <div class="copydeck-new">
                <a class="btn-round modal-trigger" href="#modal-new-item">
                    <i class="small mdi-content-add light-blue lighten-1 z-depth-1 btn-round white-text"></i>
                </a>
            </div>

        </div>
    </div>

    {{> modalNewItem }}
    {{> modalDeleteProject }}
</template>