.modal {
  padding: 24px 24px 0 24px;

  .input-field:first-of-type {
    margin-top: 30px;
  }
}

textarea.materialize-textarea {
  margin-bottom: 0;
  padding: 0.2rem 0;
}

#project-data {
  margin-bottom: 80px;

  thead {
    //display: none;
  }

  tr {
    td {
      border-radius: 0;
      padding: 5px;
      position: relative;
    }

    &>td:first-child {
      @extend .red;
      width: 10px;
    }

    &.done {
      &>td:first-child {
        @extend .green;
      }

      .action-done {
        display: none;
      }
    }

    &.modified {
      &>td:first-child {
        @extend .yellow;
      }
    }

    td.edit {
      .clean-value {
        display: none;
      }

      .input-field {
        display: block;
      }
    }

    .input-field {
      display: none;
    }
  }

  tbody {
    &.modified {
      tr {
        display: none;
        &.modified { display: table-row; }
      }
    }

    &.new {
      tr {
        display: none;
        &.new { display: table-row; }
      }
    }

    &.done {
      tr {
        display: none;
        &.done { display: table-row; }
      }
    }
  }
}

nav a.button-collapse.show-on-large {
  display: inline-block !important;
}

ul.tabs {
  margin-bottom: 20px;

  li.tab  a {
    color: $colorBlue;

    &:hover {
      color: $colorLightBlue;
    }
  }

  .indicator {
    background-color: $colorBlue;
  }
}