header {
  ul.side-nav.fixed {
    li:hover {
      background-color: $colorLightBlue;
    }

    li:active, li.active {
      background-color: $colorBlue;
      color: #fff;

      a { color:#fff; }
    }

    .add-project {
      &:hover, &:active {
        background-color: #fff;
      }

      .btn {
        color: #fff;
        display: block;
        width: 100%;
      }
    }

    .logo {
      border-bottom: 1px solid $colorBlue;
      line-height: 63px;
      font-size: 22px;

      &:hover, &:active {
        background-color: #fff;
      }
    }
  }
}
