<template name="copySection">
    {{#if copy.count}}
        <table class="section-data-table responsive z-depth-1 {{getSession "showDiff"}}">
            <caption class="left-align">
                <a href="#" class="left" data-action="expand-section">
                    <i class="small mdi-navigation-expand-less"></i>
                    {{name}}
                </a>
                <a href="#" class="right" title="Delete section" data-action="delete-section" data-id="{{_id}}">
                    <i class="small red-text text-lighten-1 mdi-action-delete"></i>
                </a>
            </caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Key</th>
                    {{#each ../project.languages}}
                        <th>{{this}}</th>
                    {{/each}}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each copy}}
                    {{> copyItem}}
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <table class="section-data-table empty responsive z-depth-1">
            <caption class="left-align">
                {{name}}
                <a href="#" class="right" title="Delete section" data-action="delete-section" data-id="{{_id}}">
                    <i class="small red-text text-lighten-1 mdi-action-delete"></i>
                </a>
            </caption>
            <thead>
                <tr>
                    <th class="center-align">This section is empty</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    {{/if}}
</template>