<template name="copySection">
    {{#if copy.count}}
        <div class="section-data-table {{getSession "showDiff"}}">
            <h2>
                <a href="#" data-action="expand-section">
                    <i class="small mdi-navigation-expand-less"></i>
                    {{name}}
                </a>
                <a href="#" class="right" title="Delete section" data-action="delete-section" data-id="{{_id}}">
                    <i class="small red-text text-lighten-1 mdi-action-delete"></i>
                </a>
            </h2>
            <ul class="collection z-depth-1">
                <li class="collection-header">
                    <div class="color"></div>
                    <div class="key">Key</div>
                    {{#each ../project.languages}}
                        <div class="item">{{this}}</div>
                    {{/each}}
                </li>
                {{#each copy}}
                    {{> copyItem}}
                {{/each}}
            </ul>
        </div>
    {{else}}
        <div class="section-data-table empty">
            <h2>
                {{name}}
                <a href="#" class="right" title="Delete section" data-action="delete-section" data-id="{{_id}}">
                    <i class="small red-text text-lighten-1 mdi-action-delete"></i>
                </a>
            </h2>
            <ul class="collection z-depth-1">
                <li class="collection-header">
                    <p class="center-align">This section is empty</p>
                </li>
            </ul>
        </div>
    {{/if}}
</template>