<template name="copySection">
    <h3>
        {{name}}
        <a href="#" class="right" title="Delete section" data-action="delete-section">
            <i class="red-text text-lighten-1 mdi-action-delete"></i>
        </a>
    </h3>
    {{#if copy}}
        <table class="section-data-table striped responsive {{getSession "showDiff"}}">
            <thead>
                <tr>
                    <th></th>
                    <th>Key</th>
                    {{#each ../project.languages}}
                        <th>{{this}}</th>
                    {{/each}}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each copy}}
                    <tr class="{{state}}">
                        <td></td>
                        <td>{{name}}</td>
                        {{#each ../../project.languages}}
                            <td class="{{getTextareaState ../copy this}}">
                                <div class="clean-value" data-action="toggleInput"><i class="right tiny mdi-editor-mode-edit"></i>{{getCopy ../copy this}}</div>
                                <div class="input-field">
                                    <textarea class="materialize-textarea" name="{{../_id}}-{{this}}" id="{{../_id}}-{{this}}">{{getCopy ../copy this}}</textarea>
                                    <label for="{{../_id}}-{{this}}">{{this}}</label>
                                </div>
                                <div data-id="{{../copy._id}}" class="diff-text" data-action="toggleInput"><i class="right tiny mdi-editor-mode-edit"></i>{{{getDiffText ../copy this}}}</div>
                            </td>
                        {{/each}}
                        <td class="right-align">
                            <a href="#editInfo" class="modal-trigger"><i class="small mdi-action-info-outline light-blue-text text-lighten-1"></i></a>
                            <a href="#" class="action-done" data-action="copy-done" data-id="{{_id}}"><i class="small mdi-action-done green-text"></i></a>
                            <a href="#" class="action-clear" data-action="copy-remove" data-id="{{_id}}"><i class="small mdi-content-clear red-text"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>This section is empty</p>
    {{/if}}
</template>