<template name="modalNewProject">
    <form id="modal-new-project" class="modal">
        <div class="modal-content">
            <h4>Create New Project</h4>

            <div class="input-field">
                <label for="project-name">Project name</label>
                <input id="project-name" name="project-name" type="text" maxlength="50" />
            </div>
        </div>
        <div class="modal-footer right-align">
            <button type="submit" class="waves-effect btn-flat modal-action modal-close">Create</button>
            <button type="button" class="waves-effect btn-flat modal-action modal-close">Cancel</button>
        </div>
    </form>
</template>