<template name="modalDeleteProject">
    <form id="modal-delete-project" class="modal">
        <div class="modal-content">
            <h4>Delete project?</h4>
            <input type="hidden" name="id" value="{{project._id}}" />
        </div>
        <div class="modal-footer right-align">
            <button type="submit" class="waves-effect btn-flat modal-action modal-close">Delete</button>
            <button type="button" class="waves-effect btn-flat modal-action modal-close">Cancel</button>
        </div>
    </form>
</template>